<!DOcTYPE html>
<html xmlns:th = "wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Get car By Your Destination</title>
</head>
<body>
	<h1> Make a selection to finish reservation!</h1>
	<form action ="#" th:action="@{/select_reservationBycity}" th:object="${car}" method = "post">
	<table>
		<tr>
			<th>Year</th>
			<th>car make</th>
			<th>car model</th>
			<th>Fuel Type</th>
			<th>Transmission</th>
			<th>Price</th>
			<th></th>
		</tr> 
	<tr th:each="car :${car}">
			<td style="display:none;" th:name = "id" th:text="${car.id}"></td>
			<td th:text = "${car.year}" th:name = "year"></td>
			<td th:text = "${car.make}" th:name = "make" ></td>
			<td th:text = "${car.model}"></td>
			<td th:text = "${car.fuel}" th:name = "fuel"></td>
			<td th:text = "${car.transmission}" th:name = "transmission"></td>			
			<td th:text = "${car.price}" th:name = "Price"></td>
			<td><button> Reserve car</button></td>
			
		</tr>
	</table>
	</form>
</body>
</html>